.qv-global-selections {
    transition: all .3s ease 0s;
}

#box-current-selecctions {
    height: 50px;
    min-height: 50px;
    padding: 0;
    z-index: 1;
    right: 0;
    left: 0;
    box-shadow: 4px 3px 5px rgb(18 23 39 / 10%);
    display: flex;
    background: var(--qv-panel-current-selections-bgcolor);
    align-items: center;
    align-content: center;
}

#box-current-selecctions>.CurrentSelections {
    width: 100%;
    width: calc(100% - 100px);
}



body#main .qv-global-selections {
    top: 180px;
    width: calc(100% - 250px);
    height: calc(100% - 195px) !important;
    left: 235px;
    right: 0;
    border-radius: 0 0 10px 10px;
}

body#main.sidebar-collapsed .qv-global-selections {
    top: 180px;
    width: calc(100% - 110px) !important;
    height: calc(100% - 195px) !important;
    left: 95px;
    right: 0;
}

body#main.body-full-size .qv-global-selections,
body#main.body-full-size.sidebar-collapsed .qv-global-selections {
    width: 100% !important;
    top: 50px;
    height: calc(100% - 50px) !important;
    left: 0px;
    right: 0;
}

#main #box-current-selecctions .CurrentSelections button:active,
#main #box-current-selecctions .CurrentSelections button:focus {
    border: none;
    box-shadow: none;
    background-color: none;
    outline: none;
}

.qv-panel-current-selections .buttons-end .qv-explore-selections-btn span,
.qv-panel-current-selections .buttons .qv-explore-selections-btn span {
    font-size: 12px;
}

#main #box-current-selecctions .CurrentSelections .qv-panel-current-selections,
#main #box-current-selecctions .CurrentSelections .qv-panel-current-selections .buttons,
#main #box-current-selecctions .CurrentSelections .qv-panel-current-selections .buttons .qv-subtoolbar-button,
#main #box-current-selecctions .CurrentSelections .qv-panel-current-selections .buttons-end,
#main #box-current-selecctions .CurrentSelections .qv-panel-current-selections .buttons-end .qv-subtoolbar-button,
#main .bright.qv-panel-current-selections .wrap {
    background: var(--qv-panel-current-selections-bgcolor);
}

#main #box-current-selecctions .bright.qv-panel-current-selections .no-selection {
    color: #e6dddd;
}

#main .qv-panel-current-selections .qv-selections-pager .wrap.borderbox.qv-pager:focus {
    box-shadow: none;
}

#main #box-current-selecctions .bright.qv-panel-current-selections .wrap,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons-end.border-bottom,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons.border-bottom {
    border: none !important;
}

#main #box-current-selecctions .bright.qv-panel-current-selections .buttons-end.border-left,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons.border-left {
    border-left: 1px solid #29598e !important;
}

#main #box-current-selecctions .bright.qv-panel-current-selections .buttons-end .qv-subtoolbar-button,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons .qv-subtoolbar-button {
    color: #ffffff;
    border-bottom: none;
}

#main #box-current-selecctions .bright.qv-panel-current-selections .buttons-end .qv-subtoolbar-button:disabled,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons .qv-subtoolbar-button:disabled {
    color: rgba(216, 211, 211, .75);
}

#main #box-current-selecctions .bright.qv-panel-current-selections .buttons .qv-subtoolbar-button.disabled,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons .qv-subtoolbar-button.disabled:active,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons .qv-subtoolbar-button.disabled:focus,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons .qv-subtoolbar-button.disabled:hover,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons-end .qv-subtoolbar-button.disabled,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons-end .qv-subtoolbar-button.disabled:active,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons-end .qv-subtoolbar-button.disabled:focus,
#main #box-current-selecctions .bright.qv-panel-current-selections .buttons-end .qv-subtoolbar-button.disabled:hover {
    color: rgba(216, 211, 211, .75);
}

#main #box-current-selecctions .qv-panel-current-selections .buttons-end div.qv-subtoolbar-button:focus {
    border: none;
    box-shadow: none;
}


#main .bright.qv-panel-current-selections .item {
    border: none;
    border-radius: 4px;
    margin-right: 2px;
    padding-bottom: 6px;

}

#main .qv-panel-current-selections ul {
    display: flex;
}

#main .qv-panel-current-selections .item .qv-state-count-bar {
    top: 30px;
    left: 2px;
    right: 2px;
    width: auto;
}

.qv-gs-searchfield-container>label {
    display: block;
    margin: 0;
}

.qv-global-selections .qv-gs-header .a11y-hidden-label {
    margin-bottom: 0;
}

#addInsightAdvisor{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addInsightAdvisor > a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 4px;
    background-color: var(--second-color);
    color: #f5f5f5!important;
    border: 1px solid var(--second-color);
    cursor: pointer;
    line-height: 140%;
    min-height: 32px;
    font-size: .7rem;
    text-decoration: none;
}
#addInsightAdvisor > a > i{
    margin-right: 2px;
}

/* RESPONSIVE */
@media only screen 
and (max-width : 1180px) {
    #addInsightAdvisor{
        margin-right: 15px;
    }
    body#main .qv-global-selections {
        top: 120px;
        width: 100%;
        height: calc(100% - 120px) !important;
        left: 0;
        right: 0;
        border-radius: 0;
    }
}




















