:root {
    --font-family: 'Roboto', sans-serif;
    --main-menu-width: 235px;
}
:root {
    --main-color: #07284C;
    --second-color:#18508b;
    --bg-color-main:#EFEFEF;
    --body-bgcolor: #EFEFEF;
    --header-bgcolor: #FFFFFF;
    --page-nave-bgcolor: #EFEFEF;
    --qv-panel-current-selections-bgcolor: #07284C;
    --menu-bg-color: #07284C;
    --color-page-nave-links: #8c8c8c;
    --color-grey: #808080;
    --color-text-main: #ffffff;
    --color-text-white: #ffffff;
    --color-text-secondary: #acbbc1;
    --color-text-contraste: #00C1DE;
    --color-text-header: #444;
    --color-active: #e0092c;
    --color-clone-active: #5aaf2e;
    --background-body-dark: #2D2F2F;
    --background-white: #ffffff;
    --background-main-page: none;
    --background-transparent: transparent;
    --background-semi-transparent: rgba(0,0,0,0.6);
    --object-background: #fff;
    --object-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --object-border: 1px solid #e4e4e4;
    --clear-object-shadow: none;
    --menu-top-bgColor: #07284C;
    --background-tables: #ffffff;
    --color-icons:#444444;

}

